
<form action="/add-post" method="POST" class="form" enctype="multipart/form-data">
  <div class="form-add-post1">
    <label for="title" class="form-label">Judul</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      placeholder="Tulis judulnya"
      required
    />
  </div>

  <div class="form add-post2">
    <label for="body" class="form-label">Pargraf 1</label>
    <textarea
      id="body"
      name="body"
      class="form-control"
      rows="10"
      cols="50"
      placeholder="Tulis Paragraf 1"
      required
    ></textarea>
  </div>

  <h2>Upload Image</h2>

  <div class="mb-3">
    <label for="utama" class="form-label"
      ><i class="bi bi-cloud-upload"></i> Select Image (1,3)</label
    >
    <input
      type="file"
      class="form-control"
      id="file"
      name="utama"
      multiple
      required
   
    />
  </div>

  <button type="submit" class="submit-post">Posting Your Article</button>
</form>
</div>



