<a href="/dashboard">&larr;Back</a>
<div class="admin-title">
  <!-- <h2>view edit post</h2>
  <form
    action="/delete-post/<% data._id %>?_method=DELETE"
    method="POST"
    class="form"
  >
    <input type="submit" value="delete" class="btn-delete btn" />
  </form>
</div> -->
  <form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
    <label for="title"> Title </label>
    <input
      type="text"
      placeholder="INPUT TITTLE"
      name="title"
      value="<%= data.title %>"
    />

    <label for="body"> content </label>
    <textarea name="body" cols="50" rows="10"><%= data.body %></textarea>

    <input type="submit" value="update" class="btn" />
  </form>
  <div class="container mt-5">
    <h2>Upload Image</h2>
    <form
      id="uploadForm"
      action="/image"
      method="POST"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="image" class="form-label"
          ><i class="bi bi-cloud-upload"></i> Select Image</label
        >
        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Upload</button>
    </form>

    <div id="message" class="mt-3"></div>
  </div>
</div>
