<a href="/dashboard">&larr;Back</a>
  <form action="/edit-post/<%= data._id %>?_method=PUT" method="POST">
  <div class="form add-post1">
    <label for="title" class="form-label">Judul</label>
    <input
      type="text"
      id="title"
      name="title"
      class="form-control"
      placeholder="Tulis judulnya"
      value="<%= data.title %>"
      required
    />
  </div>
  <div class="form add-post1">
    <label for="brand and series" class="form-label">Brand and Series</label>
    <input
      type="text"
      id="bns"
      name="bns"
      class="form-control"
      placeholder="misal samsung A55"
      required
    />
  </div>


  <div class="form add-post2">
    <label for="body" class="form-label">Artikel</label>
    <textarea
      id="body"
      name="body"
      class="form-control"
      rows="10"
      cols="50"
      placeholder="Tulis artikelnya"
      
      required
    ><%= data.body %></textarea>
  </div>

  <h2>Upload Image</h2>

  <!-- <div class="mb-3">
    <label for="imageDesc">image Description</label>
    <input
      type="text"
      class="form-control"
      id="imageDesc"
      name="imageDesc"
      required
   
    />
  </div> -->
  <div class="mb-3">
    <label for="utama" class="form-label"
      ><i class="bi bi-cloud-upload"></i> Select Image Utama</label
    >
    <input
      type="file"
      class="form-control"
      id="file"
      name="utama"
      required
   
    />
  </div>


  <button type="submit" class="submit-post">Tambah Post Article</button>
</form>





</div>

</div>
