<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Smartphone</title>
  </head>
  <body>
    <h2><%=data.title %></h2>
    <p><%=data.body %></p>

    <div>
      <% data.files.forEach(filex => { %>
      <img
        src="/image/<%= filex.fileId.toString() %>"
        alt="<%= filex.filename %>"
      />
      <% }) %>
    </div>
  </body>
</html>
