<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smartphone</title>
  </head>
  <body>
    <div><%=data.title %></div>
    <div><%=data.body %></div>
    <div>
      <% if (data.file && data.file.fileId) { %>
      <img
        src="/image/<%= data.file.fileId %>"
        alt="<%= data.file.filename %>"
        style="width: 300px; height: 200px"
      />

      <% } %>
    </div>
  </body>
</html>
