<div class="header">
  <a href="#">Admin_panel</a>
</div>
<div class="header__main">
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Blog</a>
      </li>
      <li>
        <a href="/about">About</a>
      </li>
      <li>
        <a href="/">Products</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <a href="/logout"><button>Logout</button></a>
  </div>
</div>
