<div class="header">
  <a href="#">Admin_panel</a>
</div>
<div class="header__main">
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/">About</a>
      </li>
    </ul>
  </nav>
  <div class="header__button">
    <button>Logout</button>
  </div>
</div>
