<div class="searchBar">
  <div class="container">
    <form action="/search" method="POST" class="search__form" role="search">
      <input
        type="search"
        id="searchInput"
        name="searchTerm"
        placeholder="search the text you want ....."
      />
    </form>
  </div>
  <div id="searchClose">Close</div>
</div>
