<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2><%= data.title %></h2>
    <p><%= data.body %></p>
    <% if (data.file && data.file.fileId) { %>
    <img
      src="/image/<%= data.file[0].fileId %>"
      alt="<%= data.file.filename %>"
      style="width: 300px; height: 200px"
    />

    <% } %>

    <div class="share-buttons">
      <button id="facebookBtn" class="facebook-btn">Share to Facebook</button>
      <button class="twitter-btn">Share to Twitter</button>
    </div>
  </body>
</html>
