<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>sunnah berjuang</p>
    <p><%= data.title %></p>
    <p><%= data.body %></p>
    //ini nanti dijadikan sebagai paragraf 1 ya //bagaimana post bisa mengambil
    gambar?? //sebenarnya jawabannya lebih enak pakai templating ya, kayak
    layout index //atau jawaban ke-2 yakni di setiap gambar kita jadikan array
    of object, dimana ketika diklik, kita bisa memilih

    <small>gambar paragraf 1</small>// semuaa gambar schemanya sama tpi IDnya
    berbeda, //yang sama adalah
    <small>gambar paragraf 2</small>
    <small>gambar paragraf 3</small>
    <small>gambar paragraf 4</small>

    jalan terakhir supaya tidak membuat bingung dibikin carousel aja biar tidak
    memakan space, dan jumlahnya bisa tak terbatas
  </body>
</html>
